/* 
    This CSS file is made for PontyBridge website Research-page
    Author:Ruoyu Wang
    Email:WangR47@cardiff.ac.uk
*/

.box2{
    background-color: #9A55B2;
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row: 2/3;
    color: wheat;
}
.box2.container{
    display: grid;
    grid-gap: 4vw;
}
.top.heading{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #791b99;
    border-bottom:2px solid #791b99;
}
.content{
    font-size: 1.5rem;
}

.image img{
    width: 100%;
    height:40vh;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     /* 
    Making Box-shadow
    Taken from w3schools 
    Accessed 22-10-2019
    https://www.w3schools.com/cssref/css3_pr_box-shadow.asp
    Code: box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ]]
    End of the referenced code. 
    */
}



/* ----------------This is for mobile devices-------------------------- */
@media screen and (max-width: 684px) {

/* Box2 */
    .box2.container{
        display: grid;
        grid-gap: 2vw;
    }
    .top.heading{
        font-size: 1.3rem;
        grid-column: 1/2;
    }
    .heading{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.3rem;
    }
    .content{
        font-size: 1.3rem;
    }
    .content.heading{
        text-align:end;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .image img{
        width: 100%;
        height:40vh;
    }
    #fordesktop{
        display: none;
    }
    #formobile{
        display:grid;
        grid-gap: 2vh;
    }
    .project1.content.heading{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .project1.image{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .project1.content.main{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .project2.content.heading{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .project2.image{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .project2.content.main{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .project3.content.heading{
        grid-column: 1/2;
        grid-row: 8/9;
    }
    .project3.image{
        grid-column: 1/2;
        grid-row: 9/10;
    }
    .project3.content.main{
        grid-column: 1/2;
        grid-row: 10/11;
    }
}

/* ----------------------This is for Desktop------------------------- */
@media screen and (min-width:685px) {
    /* box2 */
    .top.heading:hover{
        transform: translate(0,5px);
        transition: transform .3s ease-in-out;  
    }
    .content.contentbox:hover{
        transform: translate(5px,5px);
        transition: transform .3s ease-in-out;
    }
    .image img{
        width: 95%;
        height:50vh;
    }
    #formobile{
        display: none;
    }
    #fordesktop{
        display: grid;
        grid-gap: 2vh;
    }
    .project1.image,.project2.content,.project3.image{
        grid-column: 1/2;
    }
    .project1.content,.project2.image,.project3.content{
        grid-column: 2/3;
    }
    .project1.content,.project1.image{
        grid-row: 2/3;
    }
    .project2.content,.project2.image{
        grid-row: 3/4;
    }
    .project3.content,.project3.image{
        grid-row: 4/5;
    }
}